/* Basic Style */
body {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}
li {
  list-style: none;
}
input,
button{
  outline: none;
}
.header-scheme {
  width: 500px;
  margin: 0 auto;
  display: block;
  text-align: right;
}
.header-scheme__img {
  width: 100%;
}
.header-scheme > .header-scheme__link-info {
  font-family: fantasy, cursive;
}

@media (max-width:768px) {
  .header-scheme { 
    text-align: center;
  }
}
.user-container {
  display: block;
  width: 500px;
  margin: 0 auto 0;
}
.user-container__task-input {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}
.user-container__row-adding {
  display: flex;
}
#user-container__completed-list, 
#user-container__incomplete-list {
  margin: 0;
  padding: 0px;
}
.user-container__add-button, 
.user-container__delete-btn, 
.user-container__state-btn {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.user-container__add-button:hover, 
.user-container__delete-btn:hover, 
.user-container__state-btn:hover {
  color: #3a3a3a;
}
/* Heading */
.user-container__todo-title,
.user-container__label-new-task {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.user-container__input-text, 
#user-container__new-task {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #dDd;
  background: #FFF;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.user-container__input-text:focus {
  color: #333;
}

/* New Task */
.user-container__label-new-task {
  display: block;
  margin: 0 0 20px;
}
#user-container__new-task {
  width: 318px;
}

/* Task list */
.user-container__li-action-with {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-container__checkbox-input {
  margin: 0 10px;
}
.user-container__li-action-with > 
.user-container__label-input {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 226px;
}
.user-container__input-text {
  width: 226px;
}
.user-container__img-btn {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}
.user-container__img-btn:hover {
  transform: rotateZ(0);
}

/* Completed */
#user-container__completed-list > .user-container__label-input {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.user-container__input-text {
  display: none;
}

.user-container__edit-mode > .user-container__input-text {
  display: inline-block;
  width: 224px;
}

.user-container__edit-mode > .user-container__label-input {
  display: none;
}